seed: 69
log: True
cpu: 1
gpu: 1
num_nodes: 1

trainer:
  precision: 32
  max_epochs: 10
  benchmark: True
  profiler: null
  num_sanity_val_steps: 0
  check_val_every_n_epoch: 2
  accelerator: 'gpu'
  devices: ${gpu}
  num_nodes: ${num_nodes}

defaults:
  - _self_
  - model: icon
  - data_module: max
  - dataset: eigvals
  - transform: no_transform
  - loss: mse
  - user_overrides: null

callbacks:

tasks:
  _target_: tasks.ground_state.GroundStateModule
  
pretrained: lightning_logs/version_10/checkpoints/epoch=9-step=2000.ckpt